Versie 0.9/SLD_Extern_Uitwisselberichten/XSD/sldcommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2012-2024 TNO Geologische Dienst Nederland


    Alle rechten voorbehouden.

    Niets uit deze software mag worden vermenigvuldigd en/of openbaar gemaakt door middel van druk, fotokopie,
    microfilm of op welke andere wijze dan ook, zonder voorafgaande toestemming van TNO.


    Indien deze software in opdracht werd uitgebracht, wordt voor de rechten en verplichtingen van opdrachtgever
    en opdrachtnemer verwezen naar de Algemene Voorwaarden voor opdrachten aan TNO, dan wel de betreffende
    terzake tussen de partijen gesloten overeenkomst.

-->
<xs:schema xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
        xmlns:imsikb0101="http://www.sikb.nl/imsikb0101"
        xmlns:sldcom="http://www.broservices.nl/xsd/sldcommon/1.0"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.broservices.nl/xsd/sldcommon/1.0"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        version="0.9.0">
    <xs:annotation>
        <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
            <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
        </xs:appinfo>
    </xs:annotation>

    <xs:import namespace="http://www.sikb.nl/imsikb0101" schemaLocation="imsikb0101_v14.8.0.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>

    <xs:element name="SLD_CompleteReport" type="sldcom:SLD_CompleteReportType" substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het brondocument SLD_CompleteReport wordt gebruikt om een SLD in één keer volledig te registreren. Dat is het geval bij een SLD onder de Ow, en kan het geval zijn bij een SLD onder de Wbb. De registratie is met dit brondocument direct voltooid.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="SLD_CompleteReportType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="objectIdAccountableParty" minOccurs="0" maxOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie die door of voor de bronhouder is gebruikt om het object in de eigen administratie te kunnen vinden, voordat het was geregistreerd in de basisregistratie ondergrond.
Explanation: Het gegeven wordt alleen uitgeleverd aan de dataleverancier en de bronhouder. Het is in de registratie opgenomen om de communicatie tussen de registerbeheerder en de bronhouder of dataleverancier te vergemakkelijken.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="deliveryContext" minOccurs="1" maxOccurs="1" type="sldcom:DeliveryContextType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>DeliveryContext</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De rechtsgrond op basis waarvan, of bij afwezigheid daarvan, de activiteit naar aanleiding waarvan, het betreffende gegeven is aangeleverd aan de basisregistratie ondergrond.
Explanation: De wetgever stipuleert dat het gegeven moet zijn vastgelegd om inzicht te geven in de relatie met de taken van een bestuursorgaan. Het gegeven geeft inzicht in de maatschappelijke betekenis van de informatie.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="featureCollection" nillable="false" type="imsikb0101:FeatureCollectionIMSIKB0101PropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SLD_CompleteReportPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="sldcom:SLD_CompleteReport"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="SLD_StartReport" type="sldcom:SLD_StartReportType" substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het brondocument SLD_StartReport wordt gebruikt om de registratie van een nieuw SLD te starten. Dit kan alleen het geval zijn bij een SLD onder de Wbb. De registratie is met dit brondocument gestart.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="SLD_StartReportType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="objectIdAccountableParty" minOccurs="0" maxOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie die door of voor de bronhouder is gebruikt om het object in de eigen administratie te kunnen vinden, voordat het was geregistreerd in de basisregistratie ondergrond.
Explanation: Het gegeven wordt alleen uitgeleverd aan de dataleverancier en de bronhouder. Het is in de registratie opgenomen om de communicatie tussen de registerbeheerder en de bronhouder of dataleverancier te vergemakkelijken.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="deliveryContext" minOccurs="1" maxOccurs="1" type="sldcom:DeliveryContextType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>DeliveryContext</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De rechtsgrond op basis waarvan, of bij afwezigheid daarvan, de activiteit naar aanleiding waarvan, het betreffende gegeven is aangeleverd aan de basisregistratie ondergrond.
Explanation: De wetgever stipuleert dat het gegeven moet zijn vastgelegd om inzicht te geven in de relatie met de taken van een bestuursorgaan. Het gegeven geeft inzicht in de maatschappelijke betekenis van de informatie.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="featureCollection" nillable="false" type="imsikb0101:FeatureCollectionIMSIKB0101PropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SLD_StartReportPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="sldcom:SLD_StartReport"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="SLD_NewDecision" type="sldcom:SLD_NewDecisionType" substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het brondocument SLD_NewDecision wordt gebruikt om een nieuw besluit toe te voegen aan een bodemlocatie. Dit kan alleen het geval zijn bij een SLD onder de Wbb. Met dit brondocument is de registratiestatus aangevuld.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="SLD_NewDecisionType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="eventDate" type="xs:date" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop de gebeurtenis heeft plaatsgevonden.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="featureCollection" nillable="false" type="imsikb0101:FeatureCollectionIMSIKB0101PropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SLD_NewDecisionPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="sldcom:SLD_NewDecision"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="SLD_SoilLocationClosure" type="sldcom:SLD_SoilLocationClosureType" substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het brondocument SLD_SoilLocationClosure wordt gebruikt om de bodemlocatie te sluiten. Dit kan alleen het geval zijn bij een SLD onder de Wbb. Met dit brondocument is de registratiestatus voltooid.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="SLD_SoilLocationClosureType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="eventDate" type="xs:date" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop de gebeurtenis heeft plaatsgevonden.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SLD_SoilLocationClosurePropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="sldcom:SLD_SoilLocationClosure"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="AbstractRegistrationObject" type="sldcom:AbstractRegistrationObjectType" abstract="true" substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Abstract objecttype met als gegeven alleen de unieke identificatie van een registratieobject in de registratie ondergrond.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="AbstractRegistrationObjectType" abstract="true">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="broId" type="sldcom:RegistrationObjectCodeType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Unieke aanduiding van een registratieobject in de basisregistratie ondergrond.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AbstractRegistrationObjectPropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sldcom:AbstractRegistrationObject"/>
        </xs:sequence>
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
    </xs:complexType>

    <xs:element name="BRO_DO" type="sldcom:BRO_DOType" substitutionGroup="sldcom:AbstractRegistrationObject">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het datatype BRO_DO bevat de gegevens over een registratieobject dat uit registratie is genomen.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="BRO_DOType">
        <xs:complexContent>
            <xs:extension base="sldcom:AbstractRegistrationObjectType">
                <xs:sequence>
                    <xs:element name="deregistered" type="sldcom:IndicationYesNoType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="deregistrationTime" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BRO_DOPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="sldcom:BRO_DO"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="RegistrationObject" type="sldcom:RegistrationObjectType" abstract="true" substitutionGroup="sldcom:AbstractRegistrationObject">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het geheel van gegevens dat betrekking heeft op een registratieobject en dat in de registratie ondergrond is opgenomen.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="RegistrationObjectType" abstract="true">
        <xs:complexContent>
            <xs:extension base="sldcom:AbstractRegistrationObjectType">
                <xs:sequence>
                    <xs:element name="deliveryAccountableParty" type="sldcom:ChamberOfCommerceNumberType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie die het bestuursorgaan, dat bronhouder is van de gegevens in de basisregistratie ondergrond, als onderneming in het Handelsregister heeft.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="objectIdAccountableParty" minOccurs="0" maxOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie die door of voor de bronhouder is gebruikt om het object in de eigen administratie te kunnen vinden, voordat het was geregistreerd in de basisregistratie ondergrond.
Explanation: Het gegeven wordt alleen uitgeleverd aan de dataleverancier en de bronhouder. Het is in de registratie opgenomen om de communicatie tussen de registerbeheerder en de bronhouder of dataleverancier te vergemakkelijken.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="deliveryResponsibleParty" type="sldcom:ChamberOfCommerceNumberType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO
Explanation: Het gegeven is door de dataleverancier bij de overdracht meegegeven. Het wordt alleen uitgeleverd aan de dataleverancier en de bronhouder.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="qualityRegime" type="sldcom:QualityregimeType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding van de kwaliteitseis waaraan de gegevens van het object voldoen.
Explanation: Het gegeven is door de dataleverancier bij de overdracht meegegeven.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RegistrationObjectPropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sldcom:RegistrationObject"/>
        </xs:sequence>
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
    </xs:complexType>

    <xs:complexType name="CorrectionRequestType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="requestReference" minOccurs="1" maxOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een kenmerk dat de dataleverancier meegeeft om het innameverzoek voor eigen doeleinden te kunnen identificeren.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="deliveryAccountableParty" type="sldcom:ChamberOfCommerceNumberType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie die het bestuursorgaan dat bronhouder is van de gegevens in de basisregistratie ondergrond als onderneming in het Handelsregister heeft.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="broId" type="sldcom:RegistrationObjectCodeType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Unieke aanduiding van het registratieobject in de basisregistratie ondergrond dat gecorrigeerd moet worden.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="qualityRegime" type="sldcom:QualityregimeType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding van de kwaliteitseis waaraan de gegevens van het object voldoen.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="underPrivilege" type="sldcom:IndicationYesNoType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding die aangeeft dat de dataleverancier het recht heeft gedurende een bepaalde tijd putten met voorgeschiedenis aan te leveren.
Explanation: Onder dit voorrecht mag een brondocument binnen bepaalde restricties een datum voor gebeurtenissen bevatten met een waarde uit het domein OnvolledigeDatum.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DispatchDataRequestType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="requestReference" minOccurs="1" maxOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="broId" type="sldcom:RegistrationObjectCodeType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DispatchResponseType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="responseType" type="sldcom:DispatchResponseTypeType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="requestReference" minOccurs="1" maxOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het kenmerk van het uitgifteverzoek, dat de afnemer heeft meegegeven om voor eigen doeleinden het uitgifteverzoek te kunnen identificeren, waarop dit bericht een antwoord is.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="rejectionTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="dispatchTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="rejectionReason" minOccurs="0" maxOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="criterionError" nillable="false" type="sldcom:CriterionErrorType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Optionele lijst met foutmeldingen met betrekking tot een geconstateerde fout in de kenmerkenverzameling van een uitgifteverzoek.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IntakeResponseType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="responseType" type="sldcom:IntakeResponseTypeType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="requestReference" minOccurs="1" maxOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="transactionId" minOccurs="1" maxOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="broId" type="sldcom:RegistrationObjectCodeType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="objectIdAccountableParty" minOccurs="0" maxOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="acceptanceTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="completionTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="rejectionTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="rejectionReason" minOccurs="0" maxOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="sourceDocumentError" nillable="false" type="sldcom:SourceDocumentErrorType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ParseFaultType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="requestReference" minOccurs="0" maxOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een voor de dataleverancier unieke aanduiding van het uitgifteverzoek.
Explanation: Waarde overgenomen uit het request. Dit gegeven is optioneel omdat de softwarefout geconstateerd kan worden voordat het BRO-systeem het uitgifteverzoek heeft kunnen lezen.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="transactionId" minOccurs="0" maxOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een voor het BRO-systeem unieke aanduiding voor de verwerking van een innameverzoek of uitgifteverzoek.
Explanation: Waarde toegekend door het transactieregister. Dit gegeven is optioneel omdat de softwarefout geconstateerd kan worden voordat het BRO-systeem een transactie heeft kunnen aanmaken.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="abortTime" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Tijdstip, toegekend door de webservice, waarop de verwerking van het uitgifteverzoek is afgebroken.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="abortReason" nillable="false" type="sldcom:AbortReasonType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Lijst met redenen waarom de verwerking van het uitgifteverzoek is afgebroken.
Explanation: Om praktische redenen wordt de lijst beperkt tot maximaal 99 redenen.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RegistrationRequestType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="requestReference" minOccurs="1" maxOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een kenmerk dat de dataleverancier meegeeft om het innameverzoek voor eigen doeleinden te kunnen identificeren.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="deliveryAccountableParty" type="sldcom:ChamberOfCommerceNumberType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie die het bestuursorgaan, dat bronhouder is van de gegevens in de basisregistratie ondergrond, als onderneming in het Handelsregister heeft.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="broId" type="sldcom:RegistrationObjectCodeType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Unieke aanduiding van een registratieobject in de basisregistratie ondergrond.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="qualityRegime" type="sldcom:QualityregimeType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding van de kwaliteitseis waaraan de gegevens van het object voldoen.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="underPrivilege" type="sldcom:IndicationYesNoType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding die aangeeft dat de dataleverancier het recht heeft gedurende een bepaalde tijd putten met voorgeschiedenis aan te leveren.
Explanation: Onder dit voorrecht mag een brondocument binnen bepaalde restricties een datum voor gebeurtenissen bevatten met een waarde uit het domein OnvolledigeDatum.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Circle" type="sldcom:CircleType" substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Begrenzing aan van een geografisch gebied aan het aardoppervlak aangeduid door een middelpunt en een straal.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="CircleType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="center" minOccurs="1" maxOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO
Explanation: Eigenlijk moet dit gemodelleerd worden als een DirectPosition, maar dit complexType is niet opgenomen in het configuratiebestand conceptualschemas.xml van Imvertor.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="radius" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:restriction base="gml:MeasureType">
                                    <xs:attribute name="uom" type="gml:UomIdentifier" use="required" fixed="km"/>
                                </xs:restriction>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="srsName" minOccurs="1" maxOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CirclePropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sldcom:Circle"/>
        </xs:sequence>
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
    </xs:complexType>

    <xs:complexType name="RegistrationHistoryType">
        <xs:sequence>
            <xs:element name="objectRegistrationTime" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum en het tijdstip waarop er voor het eerst gegevens van het object in de registratie ondergrond zijn opgenomen.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="registrationStatus" minOccurs="1" maxOccurs="1" type="sldcom:RegistrationStatusType">
                <xs:annotation>
                    <xs:appinfo>
                        <CodeListName>RegistrationStatus</CodeListName>
                        <CodeListURI>urn:bro:RegistrationStatus</CodeListURI>
                    </xs:appinfo>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De actuele fase van registratie waarin het object zich bevindt.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="latestAdditionTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum en het tijdstip waarop de laatste aanvulling op gegevens in de registratie ondergrond is doorgevoerd.
Explanation: Het gegeven is alleen aanwezig wanneer na de start van de registratie van de mijnbouwwetvergunning aanvullende gegevens zijn vastgelegd.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="registrationCompletionTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum en het tijdstip waarop alle gegevens van het object in de registratie ondergrond zijn opgenomen en er geen nieuwe gegevens meer ter registratie kunnen worden aangeboden.
Explanation: Het gegeven is alleen aanwezig als alle aan te leveren gegevens zijn geregistreerd. Na dit tijdstip kunnen geen nieuwe gegevens meer ter registratie worden aangeboden. Wel kunnen fouten in de registratie worden verbeterd.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="corrected" type="sldcom:IndicationYesNoType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding die aangeeft of er een correctie in de gegevens van het object in de registratie ondergrond heeft plaatsgevonden.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="latestCorrectionTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum en het tijdstip waarop de laatste correctie in de gegevens van het object is doorgevoerd.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="underReview" type="sldcom:IndicationYesNoType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding die aangeeft of het object door de registerbeheerder in onderzoek is genomen.
Explanation: Wanneer een object in onderzoek is genomen betekent dit dat er bij de registerbeheerder gerede twijfel bestaat over de juistheid van de geregistreerde gegevens en dat er een onderzoek is gestart om vast te stellen wat de juiste gegevens zijn. Normaliter gaat hieraan een melding van derden vooraf.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="underReviewTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum en het tijdstip waarop de registerbeheerder het object in onderzoek heeft genomen.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="deregistered" type="sldcom:IndicationYesNoType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding die aangeeft of de gegevens van het object door de registerbeheerder uit de registratie ondergrond zijn verwijderd.
Explanation: Wanneer de registerbeheerder een object uit registratie heeft genomen, zijn de gegevens niet langer beschikbaar voor andere afnemers dan bronhouder en dataleverancier. De registerbeheerder zal een object alleen bij hoge uitzondering uit registratie nemen. Aan die beslissing gaat een proces van zorgvuldige afweging vooraf en dat komt tot uitdrukking in de regel dat een object slechts een keer uit registratie kan worden genomen.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="deregistrationTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum en het tijdstip waarop het object uit de registratie ondergrond is verwijderd.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="reregistered" type="sldcom:IndicationYesNoType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum en het tijdstip waarop het object in de registratie ondergrond is opgenomen, nadat het eerder uit registratie was genomen.
Explanation: De registerbeheerder kan een object eenmalig uit registratie nemen, en die actie kan hij eenmalig ongedaan maken. Ook hiervoor geldt dat akkoord van de bronhouder vereist is.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="reregistrationTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum en het tijdstip waarop het object in de registratie ondergrond is opgenomen, nadat het uit registratie was genomen.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandardizedLocationType">
        <xs:sequence>
            <xs:element name="location" type="gml:PointPropertyType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De coördinaten in het standaard referentiestelsel.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="coordinateTransformation" minOccurs="1" maxOccurs="1" type="sldcom:CoordinateTransformationType">
                <xs:annotation>
                    <xs:appinfo>
                        <CodeListName>CoordinateTransformation</CodeListName>
                        <CodeListURI>urn:bro:CoordinateTransformation</CodeListURI>
                    </xs:appinfo>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De methode die de basisregistratie ondergrond heeft gebruikt voor het omzetten van de aangeleverde coördinaten.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandardizedLocationV2Type">
        <xs:sequence>
            <xs:element name="location" type="sldcom:StandardizedGeometryType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De geometrie in het standaard referentiestelsel.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="coordinateTransformation" minOccurs="1" maxOccurs="1" type="sldcom:CoordinateTransformationType">
                <xs:annotation>
                    <xs:appinfo>
                        <CodeListName>CoordinateTransformation</CodeListName>
                        <CodeListURI>urn:bro:CoordinateTransformation</CodeListURI>
                    </xs:appinfo>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De methode die de basisregistratie ondergrond heeft gebruikt voor het omzetten van de aangeleverde coördinaten.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AbortReasonType">
        <xs:sequence>
            <xs:element name="sequenceNumber" type="xs:integer" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een binnen deze lijst van abortReasons (redenen afbreken) uniek nummer.
Explanation: Numerieke waarde bedoelt om de lijst met foutmeldingen te kunnen sorteren.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="specification" minOccurs="1" maxOccurs="1" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Omschrijving van de validatie fout.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CriteriaSetType">
        <xs:sequence>
            <xs:element name="deliveryAccountableParty" type="sldcom:ChamberOfCommerceNumberType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="qualityRegime" type="sldcom:QualityregimeType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="registrationPeriod" nillable="false" type="sldcom:DatePeriodType">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het datuminterval waarbinnen de datum van het tijdstip registratie object van het booronderzoek ligt</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="correctionPeriod" nillable="false" type="sldcom:DatePeriodType">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het datuminterval waarbinnen het laatste correctietijdstip van het booronderzoek ligt.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="underReview" type="sldcom:IndicationYesNoType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="area" type="sldcom:AreaPropertyType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De geografische begrenzing waarbinnen de locatie van een booronderzoek ligt.
Explanation: Een gebied bestaat uit een omsluitende rechthoek of een omsluitende cirkel.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CriterionErrorType">
        <xs:sequence>
            <xs:element name="sequenceNumber" type="xs:integer" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="specification" minOccurs="1" maxOccurs="1" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriodType">
        <xs:sequence>
            <xs:element name="begindate" type="xs:date" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="endDate" type="xs:date" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SourceDocumentErrorType">
        <xs:sequence>
            <xs:element name="sequenceNumber" type="xs:integer" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="specification" minOccurs="1" maxOccurs="1" type="xs:string">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: TODO</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VerticalPositionRangeType">
        <xs:sequence>
            <xs:element name="startDepth" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De begindiepte van het bereik waarbinnen de einddiepte van de boring ligt.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:restriction base="gml:MeasureType">
                            <xs:attribute name="uom" type="gml:UomIdentifier" use="required" fixed="m"/>
                        </xs:restriction>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="endDepth" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De einddiepte van het bereik waarbinnen de einddiepte van de boring ligt.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:restriction base="gml:MeasureType">
                            <xs:attribute name="uom" type="gml:UomIdentifier" use="required" fixed="m"/>
                        </xs:restriction>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="ChamberOfCommerceNumberType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het domein KvK-nummer geeft het identificerende gegeven van een onderneming in het Handelsregister. De opbouw is NNNNNNNN.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="DateType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het domein Datum geeft een datum volgens de Gregoriaanse kalender tot op de dag nauwkeurig. De opbouw is JJJJ-MM-DD. Wanneer een attribuut een domein van het type Datum heeft is het voldoende de naam te geven, omdat de opbouw altijd hetzelfde is.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Number4Type">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een domein van het type aantal is een getal met een bepaalde maximale lengte. Het wordt gebruikt voor een telbare hoeveelheid. Een domein wordt volledig gespecificeerd door met de aanduiding ook de maximale lengte mee te geven. In het domeinmodel is de algemene aanduiding AantalN, waarbij N de maximale lengte aangeeft.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="RegistrationObjectCodeType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie van een object in de registratie ondergrond.
Explanation: Opbouw: NNNNNNNNNNNNDe basisregistratie ondergrond kent bij registratie automatisch de juiste waarde aan het object toe.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Text7Type">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een domein van het type tekst bestaat uit een stuk tekst van een bepaalde maximale lengte. De tekst mag alleen bestaan uit de tekens die voorkomen in de MES-1 set. De MES-1 set omvat 335 tekens en wordt gebruikt binnen de landen van de Europese Unie die een Latijns schrift kennen. Een domein van het type tekst wordt volledig gespecificeerd door met de aanduiding tekst ook de maximale lengte mee te geven. In het domeinmodel wordt het domein aangeduid als TekstN, waarbij N de maximale lengte aangeeft.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Text40Type">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een domein van het type tekst bestaat uit een stuk tekst van een bepaalde maximale lengte. De tekst mag alleen bestaan uit de tekens die voorkomen in de MES-1 set. De MES-1 set omvat 335 tekens en wordt gebruikt binnen de landen van de Europese Unie die een Latijns schrift kennen. Een domein van het type tekst wordt volledig gespecificeerd door met de aanduiding tekst ook de maximale lengte mee te geven. In het domeinmodel wordt het domein aangeduid als TekstN, waarbij N de maximale lengte aangeeft.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="MeasureNillableType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Datatype voor een meetwaarde die mogelijk geen waarde heeft en waarvan de eenheid (uom) niet vast ligt (not fixed=true).
Explanation: Het attribute uom moet aanwezig zijn als een gegeven met dit datatype een waarde heeft. Het attribute uom mag niet aanwezig zijn als een gegeven met dit datatype geen waarde heeft en wel een attribuut nil="true".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="IndicationYesNoType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een domein in de vorm van een keuzelijst met een limitatieve opsomming van waarden. Uitbreiding van de keuzelijst is niet mogelijk.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ja"/>
            <xs:enumeration value="nee"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IndicationYesNoUnknownType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een domein in de vorm van een keuzelijst met een limitatieve opsomming van waarden. Uitbreiding van de keuzelijst is niet mogelijk.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ja"/>
            <xs:enumeration value="nee"/>
            <xs:enumeration value="onbekend"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QualityregimeType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een domein in de vorm van een keuzelijst met een limitatieve opsomming van waarden voor het duiden van de kwaliteitseis waaraan de gegevens van het object voldoen. Uitbreiding van de keuzelijst is niet mogelijk.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMBRO"/>
            <xs:enumeration value="IMBRO/A"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VoidReasonType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Geen datum bekend, met als vaste waarde onbekend.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="onbekend"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DispatchResponseTypeType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Lijst met aanduidingen voor de betekenis van het antwoord op een uitgifteverzoek.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="dispatch"/>
            <xs:enumeration value="rejection"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IntakeResponseTypeType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Lijst met aanduidingen voor de betekenis van het antwoord op een innameverzoek.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="completion"/>
            <xs:enumeration value="acceptance"/>
            <xs:enumeration value="rejection"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeliveryContextType">
        <xs:simpleContent>
            <xs:restriction base="gml:CodeWithAuthorityType">
                <xs:attribute name="codeSpace" type="xs:anyURI" use="required" fixed="urn:bro:sld:DeliveryContext"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="CoordinateTransformationType">
        <xs:simpleContent>
            <xs:restriction base="gml:CodeWithAuthorityType">
                <xs:attribute name="codeSpace" type="xs:anyURI" use="required" fixed="urn:bro:CoordinateTransformation"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="CRSType">
        <xs:simpleContent>
            <xs:restriction base="gml:CodeWithAuthorityType">
                <xs:attribute name="codeSpace" type="xs:anyURI" use="required" fixed="urn:bro:CRS"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="RegistrationStatusType">
        <xs:simpleContent>
            <xs:restriction base="gml:CodeWithAuthorityType">
                <xs:attribute name="codeSpace" type="xs:anyURI" use="required" fixed="urn:bro:RegistrationStatus"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="SourceDocument" type="sldcom:SourceDocumentType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   Het datatype SourceDocument biedt de keuze uit een aantal verschillende types brondocumenten, waarvan er één opgenomen is in een registrationRequest (registratieverzoek).</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="SourceDocumentType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element ref="sldcom:SLD_CompleteReport"/>
            <xs:element ref="sldcom:SLD_StartReport"/>
            <xs:element ref="sldcom:SLD_NewDecision"/>
            <xs:element ref="sldcom:SLD_SoilLocationClosure"/>
         </xs:choice>
    </xs:complexType>
    <xs:complexType name="SourceDocumentPropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sldcom:SourceDocument"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="DeliveredGeometry" type="sldcom:DeliveredGeometryType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Zie inleiding catalogus</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="DeliveredGeometryType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element ref="gml:Point"/>
            <xs:element ref="gml:Curve"/>
            <xs:element ref="gml:Surface"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DeliveredGeometryPropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sldcom:DeliveredGeometry"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="StandardizedGeometry" type="sldcom:StandardizedGeometryType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: ToDo: zie inleiding catalogus</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="StandardizedGeometryType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element ref="gml:Point"/>
            <xs:element ref="gml:MultiPoint"/>
            <xs:element ref="gml:MultiSurface"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StandardizedGeometryPropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sldcom:StandardizedGeometry"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Organization" type="sldcom:OrganizationType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het KvK-nummer van de onderneming of de maatschappelijke activiteit van de rechtspersoon die voor de bronhouder geldt als verantwoordelijk voor de uitvoering van het wandonderzoek, of het equivalent daarvan in een handelsregister van een andere lidstaat van de Europese Unie dan Nederland.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="OrganizationType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="chamberOfCommerceNumber" type="sldcom:ChamberOfCommerceNumberType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: KvK-nummer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="europeanCompanyRegistrationNumber" type="sldcom:Text40Type" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Europees handelsnummer</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganizationPropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sldcom:Organization"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="PartialDate" type="sldcom:PartialDateType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Voor gegevens die onder het kwaliteitsregime IMBRO/A aangeleverd worden, geldt een derde domein met vier keuzemogelijkheden.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="PartialDateType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="date" type="xs:date" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Volledige datum</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="yearMonth" type="sldcom:Text7Type" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Jaartal en maand van een datum</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="year" type="sldcom:Number4Type" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Jaartal van een datum</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="voidReason" type="sldcom:VoidReasonType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Datum onbekend</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartialDatePropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sldcom:PartialDate"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Area" type="sldcom:AreaType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De entiteit Area geeft de begrenzing aan van een geografisch gebied aan het aardoppervlak.
Explanation: De entiteit heeft een stereotype Union, wat aangeeft dat óf een enclosingCircle óf een boundingBox moet worden opgenomen.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="AreaType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element ref="sldcom:Circle"/>
            <xs:element ref="gml:Envelope"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AreaPropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="sldcom:Area"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
