Versie 0.7/SLD_Intern Uitwisselberichten/XSD/dssld-internal-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2012-2024 TNO Geologische Dienst Nederland

    Alle rechten voorbehouden.

    Niets uit deze software mag worden vermenigvuldigd en/of openbaar gemaakt door middel van druk, fotokopie,
    microfilm of op welke andere wijze dan ook, zonder voorafgaande toestemming van TNO.

    Indien deze software in opdracht werd uitgebracht, wordt voor de rechten en verplichtingen van opdrachtgever
    en opdrachtnemer verwezen naar de Algemene Voorwaarden voor opdrachten aan TNO, dan wel de betreffende
    terzake tussen de partijen gesloten overeenkomst.

-->
<xs:schema xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
           xmlns:dssld="http://www.broservices.nl/xsd/dssld-internal/1.0"
            xmlns:gml="http://www.opengis.net/gml/3.2"
             xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
              xmlns:sldcom="http://www.broservices.nl/xsd/sldcommon-internal/1.0"
               xmlns:xs="http://www.w3.org/2001/XMLSchema"
                targetNamespace="http://www.broservices.nl/xsd/dssld-internal/1.0"
                 elementFormDefault="qualified"
                  attributeFormDefault="unqualified"
                   version="0.7.0">
    <xs:annotation>
        <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
            <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
        </xs:appinfo>
    </xs:annotation>

    <xs:import namespace="http://www.broservices.nl/xsd/sldcommon-internal/1.0" schemaLocation="sldcommon-internal.xsd"/>
    <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="brocommon.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml-profile.xsd"/>
    <!--
    <xs:import namespace="http://www.broservices.nl/xsd/sldcommon-internal/1.0" schemaLocation="https://schema.broservices.nl/xsd/sldcommon-internal/1.0/sldcommon-internal.xsd"/>
    <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schema.broservices.nl/profile/gml/1.0/gml-profile.xsd"/>
    -->

    <xs:element name="parseFault" type="brocom:ParseFaultType"/>
    <xs:element name="dispatchDataRequest" type="brocom:DispatchDataRequestType"/>

    <xs:element name="SLD_O_DP" type="dssld:SLD_O_DPType" substitutionGroup="brocom:RegistrationObject">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het uitgiftedocument met de geregistreerde gegevens van een Overheidsbesluit bodemverontreiniging, dat wordt uitgeleverd als de afnemer tevens de bronhouder of dataleverancier is van het registratieobject, ongeacht of registratieobject uit registratie is genomen of niet.
Explanation: De gegevens die alle registratieobjecten gemeenschappelijk hebben, zijn in het domeinmodel gegroepeerd in de entiteit Registratieobject.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="SLD_O_DPType">
        <xs:complexContent>
            <xs:extension base="brocom:RegistrationObjectType">
                <xs:sequence>
                    <xs:element name="deliveryContext" minOccurs="1" maxOccurs="1" type="sldcom:DeliveryContextType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>DeliveryContext</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De rechtsgrond op basis waarvan, of bij afwezigheid daarvan, de activiteit naar aanleiding waarvan, het betreffende gegeven is aangeleverd aan de basisregistratie ondergrond.
Explanation: De wetgever stipuleert dat het gegeven moet zijn vastgelegd om inzicht te geven in de relatie met de taken van een bestuursorgaan. Het gegeven geeft inzicht in de maatschappelijke betekenis van de informatie.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="informationProvider" minOccurs="0" maxOccurs="1" type="brocom:OrganizationType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het KvK-nummer van de onderneming of de maatschappelijke activiteit van de rechtspersoon die meer informatie kan verstrekken over de bodemlocatie als aanvulling op de aangeleverde gegevens, of het equivalent daarvan in een handelsregister van een andere lidstaat van de Europese Unie dan Nederland.
Explanation: Het gegeven kan een nieuwe waarde krijgen bij wijziging van informatieverstrekker. In dat geval wordt de oude waarde in de registratie ondergrond overschreven. [OPEN PUNT] Organisatie worden in de BRO vastgelegd met het Kvk-nummer of EUID. In de huidige praktijk is de naam van de informatieverstrekker in een codelijst opgenomen (met ruim 500 organisaties).</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="registrationHistory" nillable="false" type="brocom:RegistrationHistoryType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De geschiedenis van het object in de registratie ondergrond.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="standardizedLocation" nillable="false" type="brocom:StandardizedLocationV2Type">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De begrenzing van de bodemlocatie op het aardoppervlak zoals die door de basisregistratie ondergrond is getransformeerd.
Explanation: Het gegeven staat niet in een brondocument. De gestandaardiseerde locatie wordt door de basisregistratie ondergrond berekend ten behoeve van afnemers. De bodemlocatie is gedefinieerd als een multivlak.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="legalDecisionType" type="sldcom:LegalDecisionTypePropertyType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SLD_O_DPPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="dssld:SLD_O_DP"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="SLD_O" type="dssld:SLD_OType" substitutionGroup="dssld:SLD_O_DP">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het uitgiftedocument met de geregistreerde gegevens van een bodemonderzoek, dat wordt uitgeleverd als de afnemer niet de bronhouder of dataleverancier is van het registratieobject en het registratieobject niet uit registratie is genomen.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="SLD_OType">
        <xs:complexContent>
            <xs:extension base="dssld:SLD_O_DPType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SLD_OPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="dssld:SLD_O"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="dispatchDataResponse" type="dssld:DispatchDataResponseType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht DispatchDataResponse is een specialisatie van de abstract klasse DispatchResponse uit de package brocommon, waaraan het een dispatchDocument toevoegt. Met dit bericht worden, als response op een DispatchDataRequest, de gegevens over een specifiek bodemonderzoek registratieobject verzonden naar de aanvrager.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="DispatchDataResponseType">
        <xs:complexContent>
            <xs:extension base="brocom:DispatchResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="dispatchDocument" nillable="false" type="brocom:AbstractRegistrationObjectPropertyType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het element dispatchDocument bevat de gegevens van een bodemonderzoek registratieobject. Vanwege het polymorfe karakter is het type óf een BRODO uit de package brocom, óf een SLDODP, óf een SLDO uit de package dssad. Deze drie types hebben allen als gemeenschappelijke vader het type AbstractRegistrationObject uit de package brocom.
Explanation: Het gegeven ontbreekt als de BRO geen registratieobject bevat met het in het dispatchDataRequest opgegegeven broId. Het gegeven is aanwezig en van het type BROD_DO als het registratieobject met de opgegeven broId uit registratie is genomen. Het gegeven is aanwezig en van het type SLDODP als het registratieobject met de opgegeven broId niet uit registratie is genomen en de afnemer tevens bronhouder en/of dataleverancier is van het registratieobject. Het gegeven is aanwezig en van het type SLD_O als het registratieobject met de opgegeven broId niet uit registratie is genomen en de afnemer niet bronhouder of dataleverancier is van het registratieobject.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
